
.text h2 {
	font-size: 46px;
	color:steelblue;
	font-weight: 500;
	padding-top: 60px;
	font-family: sans-serif;
}

.a {
	padding-bottom: 50px;
}

.a.a-normal {
	padding-bottom: 30px;
}

.a.a-normal ul {
	display: none;
	position: absolute;
	left: 0;
	top: 46px;
	width: 100%;
	z-index: 9;
	background: #ffffff;
}

.link{
	color: black;
}

.mypage-text{
	background-color:steelblue;
	height: 60px;
	text-align: center;
}
.mypage-text h4{
	color: white;
	padding-top: 20px;
}

