@charset "UTF-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*{
	box-sizing:border-box;
	font-family:"Spoqa Han Sans Neo", "sans-serif";
	font-size:13px;
	color:#595959;
}

input::-webkit-inner-spin-button{
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}

input[type="checkbox"], input[type="radio"]{
	-webkit-appearance:none;
	position:relative;
	width:16px;
	height:16px;
	cursor:pointer;
	outline:none !important;
	border:1px solid #eeeeee;
	border-radius:2px;
	background:#fbfbfb;
	transform:scale(1.5);
}

input[type="checkbox"]::before, input[type="radio"]::before{
	content:"\2713";
	position:absolute;
	top:50%;
	left:50%;
	overflow:hidden;
	transform:scale(0) translate(-50%, -50%);
	line-height:1;
}
 
input[type="checkbox"]:hover, input[type="radio"]:hover{
	border-color:rgba(170, 170, 170, 0.5);
}
 
input[type="checkbox"]:checked, input[type="radio"]:checked{
	background-color:#ff8955;
	border-color:rgba(255, 255, 255, 0.3);
	color:white;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before{
	border-radius:2px;
	transform:scale(1) translate(-50%, -50%)
}

input[type="radio"]{
	border-radius:50%;
}

input[type="radio"]::before{
	content:"\25CB";
}

input[type="radio"]:checked::before{
	border-radius:50%;
}

input[type="text"], input[type="number"]{
	height:35px;
	padding-left:10px;
	border:1px solid #DCDCDC;
    border-radius:5px;
}

button{
	cursor:pointer;
}

#outerWrap{
	max-width:1150px;
	margin:30px auto;
	padding:40px 60px 50px 60px;
	border:1px solid rgb(238, 238, 238);
	border-radius:10px;
}

#title{
	margin:15px 0px 20px 0px;
	border-bottom:0.5px solid rgb(255, 222, 168);
}

#title > p{
	display:inline-block;
	font-size:16px;
	font-weight:bold;
}

#title > #home{
	float:right;
	color:rgb(255, 186, 0);
	cursor:pointer;
}

#innerWrap{
	width:100%; height:100%;
	border:1px solid rgb(238, 238, 238);
	border-radius:10px;
}

#alignWrap{
	width:40%;
	margin:50px auto;
}

.wrap{
	margin-bottom:15px;
	padding:40px 20px;
	border:1px solid #DCDCDC;
}

.title{
	margin:0px 0px 10px 0px;
	padding-bottom:10px;
	border-bottom:1px solid #DCDCDC;
	font-size:16px;
	font-weight:700;
	color:black;
}

.l_label, .r_label{
	display:inline-block;
	font-size:13px;
	font-weight:500;
	color:black;
}

.r_label{
	float:right;
}

.r_label > span{
	font-weight:500;
	color:black;
}

.strongLabel{
	display:inline-block;
	margin:0px;
	font-size:16px;
	font-weight:700;
	color:black;
}

.line, .strongLine{
	clear:both;
	margin:10px 0px;
	border-top:1px solid #efefef;
}

.strongLine{
	border-color:#686868;
}

.pinkFont{
	font-size:16px;
	font-weight:500;
	color:#F47070;
}

.skyFont{
	margin-bottom:0px !important;
    font-weight:700 !important;
    color:rgb(0, 150, 243) !important;
}

.skyButton{
	width:90%; height:44px;
	background-color:rgb(0, 150, 243);
	border:1px solid rgb(0, 150, 243);
	border-radius:5px;
	padding:0px;
	color:rgb(255, 255, 255);
	font-size:18px;
	font-weight:500;
}

#productInfo > #sender{
	width:100%; height:36px;
	line-height:36px;
	margin:20px 0px;
	padding:0px 10px;
	background-color:rgb(255, 250, 240);
	font-size:13px;
	font-weight:700;
}

#productInfo > #sender > i{
	margin:0px 4px;
	font-style:normal;
	color:rgb(178, 178, 178);
}

#productInfo > .product{
	position:relative;
	overflow:hidden;
}

#productInfo > .product > img{
	width:59px; height:74px;
	margin-right:10px;
	float:left;
}

#productInfo > .product > div{
	position:absolute;
    top:50%;
    left:69px; /* img width(59px) + 10px */
    transform:translate(0%, -50%);
}

#productInfo > .product > div > .cancelState{
	font-size:13px !important;
}

#productInfo > .product > div > p{
	margin:0px;
	font-size:13px;
	color:#2C2C2C;
}

#productInfo > .product > div > .cancelState{
	margin:0px;
	font-weight:700;
	color:rgb(244, 112, 112);
}

#productInfo > .product > div > p:first-of-type{
	font-weight:700;
}

#productInfo > .product > div > p:last-of-type{
	font-size:11px;
	color:#2C2C2C;
}

#productInfo > #orderFee{
	float:right;
	margin-bottom:10px;
}

#productInfo > #orderFee > img{
	width:16px; height:16px;
	vertical-align:middle;
}

#productInfo > #orderFee > span{
	font-size:11px;
}

#productInfo > #payCompleteWords{
	margin-top:10px;
	margin-bottom:0px;
	text-align:right;
	font-size:13px;
	font-weight:bold;
	color:black;
}