<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
		
<configuration>
	<typeAliases>
		<!-- QNA -->
		<typeAlias type="com.alcohol.sul.board.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.alcohol.sul.board.qna.QnaFileDTO" alias="QnaFileDTO"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.Map" alias="Map"/>
		
		
		<typeAlias type="com.alcohol.sul.member.MemberDTO" alias="MemberDTO"/>
	</typeAliases>
</configuration>