<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
		
<configuration>
	<typeAliases>
		<typeAlias type="com.alcohol.sul.board.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.alcohol.sul.board.qna.QnaFileDTO" alias="QnaFileDTO"/>
		<typeAlias type="com.alcohol.sul.util.Pager" alias="Pager"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.Map" alias="Map"/>
		
		<typeAlias type="com.alcohol.sul.board.faq.FaqDTO" alias="FaqDTO"/>
		<typeAlias type="com.alcohol.sul.util.FaqPage" alias="FaqPage"/>
		
		<typeAlias type="com.alcohol.sul.main.product.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.alcohol.sul.main.product.ProductImgDTO" alias="ProductImgDTO"/>	
		<typeAlias type="com.alcohol.sul.main.product.review.ReviewDTO" alias="ReviewDTO"/>	
		<typeAlias type="com.alcohol.sul.main.product.review.ReviewFileDTO" alias="ReviewFileDTO"/>
		<typeAlias type="java.lang.Double" alias="Double"/>
		
		<typeAlias type="com.alcohol.sul.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.alcohol.sul.basket.BasketDTO" alias="BasketDTO"/>
		<typeAlias type="com.alcohol.sul.admin.SalesRevenueDTO" alias="SalesRevenueDTO"/>
		
		<typeAlias type="com.alcohol.sul.order.OrderDTO" alias="OrderDTO"></typeAlias>
		<typeAlias type="com.alcohol.sul.order.OrderProductDTO" alias="OrderProductDTO"></typeAlias>
		<typeAlias type="com.alcohol.sul.order.OrderAddressDTO" alias="OrderAddressDTO"></typeAlias>
		<typeAlias type="com.alcohol.sul.order.OtherAddressDTO" alias="OtherAddressDTO"></typeAlias>
		<typeAlias type="com.alcohol.sul.order.PaymentDTO" alias="PaymentDTO"></typeAlias>
		<typeAlias type="com.alcohol.sul.order.CancelDTO" alias="CancelDTO"></typeAlias>
		<typeAlias type="com.alcohol.sul.order.CancelInfoDTO" alias="CancelInfoDTO"></typeAlias>
	
		<typeAlias type="com.alcohol.sul.board.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.alcohol.sul.board.notice.NoticeFileDTO" alias="NoticeFileDTO"/>
		
		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="java.lang.Long" alias="Long"></typeAlias>
		<typeAlias type="java.util.List" alias="List"></typeAlias>
		<typeAlias type="java.util.Map" alias="Map"></typeAlias>
		
	</typeAliases>
</configuration>