@charset "UTF-8";

/* 장바구니 비었을 때 */
@media (max-width:886px){.c1 .empty{font-size:14px;}}
@media (max-width:886px){.c1 .text{font-size:12px;}.c1 button{font-size:11px;}}
@media (max-width:886px){.empty .guide{height:18px;line-height:18px;font-size:14px;}}

data-styled.g300[id="style__CartBillWrapper-sc-zhmz48-5"]{content:"empty,"}
@media (max-width:1023px){.calculate{margin-left:25px;}}
@media (max-width:886px){.calculate{margin-left:20px;}.calculate .title{height:20px;line-height:20px;font-size:12px;}.calculate .content .row{font-size:11px;}.calculate .footer .price{font-size:15px;}}
@media (max-width:886px){.calculate{margin:0;}.calculate .bill{margin-bottom:0px;padding-bottom:33px;background-color:#fff;border:none;border-radius:0px;}.calculate .header{font-size:12px;}}
data-styled.g300[id="style__CartBillWrapper-sc-zhmz48-5"]{content:"empty,"}



.calculate{margin-left:45px;}
.calculate .bill{
	height:200px;
	padding:20px;
	border-radius:10px;
	border:0.5px solid #e0e0e0;
	background-color:#fff;
	}
	
.calculate .title{
	height:24px;
	line-height:24px;
	text-align:left;
	color:#3e3e3e;
	font-size:13px;
	font-weight:bold;
	}
	
.calculate .row{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	margin-bottom:13px;
	height:15px;
	font-size:15px;
	font-weight:bold;
	}
	
.calculate .price{font-weight:bold;}
.calculate .info{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	color:#b2b2b2;
	font-size:10px;
	text-align:left;
	}
	
.calculate .solid-top{border-top:0.5px solid #b2b2b2;margin:15px 0px 20px 0px;}
.calculate .solid-bottom{border-top:0.5px solid #b2b2b2;;}

	
.calculate .footer .text{font-size:13px;color:#3e3e3e;}
.calculate .footer .price{font-size:16px;color:#0096f3;}


	.above{
		padding:100px 80px 150px; 
		border-radius:10px;
		border:0.5px solid #e0e0e0;
		font-size:16px; 
		max-width:1023px; 
		/* margin-left: 300px; 
		margin-right: 300px; */
		}
		
	.box{
		padding:20px 80px 120px; 
		border-radius:10px;
		border:0.5px solid #e0e0e0;
		font-size:16px; 
		max-width:1023px; 
		margin-left: 40px;
		margin-bottom: 10px;
		}
		
	.ch{
		padding:20px 60px 120px;
		}
	
    .wrap { width: 800px; height:auto; margin: auto;}

    section#content ul li { margin: 10px 0; padding: 10px 0;}
    section#content ul li img { width:; height: 250px; }
    section#content div.productInfo .delete { text-align: right; }
    section#content div.productInfo .delete button { font-size: 18px; padding: 5px 10px;}

    .allCheck input {width: 16px; height: 16px;}
    .checkBox { float: left; width: 30px; }
    .checkBox input { width: 16px; height: 16px; }

    #payment{
		
    	margin-top : 10px;
    	width:100%; height:50px;
    	background-color:;
    	border-radius:5px;
    	color:#3e3e3e;
    }
	
	#list{

		margin-top: 10px;
		width: 95%; height: 50px;
		background-color:;
    	border-radius:5px;
    	color:#3e3e3e;
	}