@charset "UTF-8";

/* 장바구니 비었을 때 */
@media (max-width:886px){.c1 .empty{font-size:14px;}}
@media (max-width:886px){.c1 .text{font-size:12px;}.c1 button{font-size:11px;}}
@media (max-width:886px){.empty .guide{height:18px;line-height:18px;font-size:14px;}}

data-styled.g300[id="style__CartBillWrapper-sc-zhmz48-5"]{content:"empty,"}

@media (max-width:1023px){.calculate{margin-left:25px;}}
@media (max-width:886px){.calculate{margin-left:20px;}.calculate .title{height:20px;line-height:20px;font-size:12px;}.calculate .content .row{font-size:11px;}.calculate .footer .price{font-size:15px;}}
@media (max-width:886px){.calculate{margin:0;}.calculate .bill{margin-bottom:0px;padding-bottom:33px;background-color:#fff;border:none;border-radius:0px;}.calculate .header{font-size:12px;}}

.basketBill{
	background-color:#f1f3f5;
}

.calculate{
	margin-left:45px;
	padding-bottom:97px;
	}
	
.calculate .price{
	font-weight:bold;
	}
	
	
.calculate .solid-bottom{
	border-top:0.5px solid #b2b2b2;
	margin:15px 0px;
	}
	
.calculate .footer{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	height:21px;
	line-height:21px;
	font-weight:bold;
	}
	
.calculate .footer .text{
	font-size:18px;
	color:#3e3e3e;
	}
	
.calculate .footer .price{
	font-size:18px;
	}

.above{
	padding:100px 80px 150px; 
	border-radius:10px;
	border:0.5px solid #e0e0e0;
	font-size:16px; 
	max-width:1023px; 
	margin-left: 300px; 
	margin-right: 300px;
	}
	
.box{
	padding:20px 80px 120px; 
	border-radius:10px;
	border:0.5px solid #e0e0e0;
	font-size:16px; 
	max-width:1023px; 
	margin-left: 40px;
	}
	
.ch{
	padding:20px 60px 120px;
	}