<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Daum 우편번호 서비스</title>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<style type="text/css">
		table{ width:330px; }
		input{ box-sizing:border-box; }
		#roadAddress{ width:100%; }
		#detail{ width:100%; }
	</style>
</head>
<body>
	<table border="1">
		<tr>
			<td>주소</td>
			<td>
				<input type="text" id="postcode" disabled="disabled"> <input type="button" onclick="javascript:examDaumPostcode()" value="우편번호 찾기"><br>
				<input type="text" id="roadAddress" placeholder="도로명 주소"><br>
				<input type="text" id="detail" placeholder="상세 주소를 입력해주세요."><br>
			</td>
		</tr>
	</table>
	
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script>
	    function examDaumPostcode(){
	        new daum.Postcode({
	            oncomplete:function(data){
	                var fullRoadAddr = data.roadAddress;
	                var extraRoadAddr = "";
					
	                if(data.bname !== "" && /[동|로|가]$/g.test(data.bname)){
	                    extraRoadAddr += data.bname;
	                }
					
	                if(data.buildingName !== "" && data.apartment === 'Y'){
	                   extraRoadAddr += (extraRoadAddr !== "" ? ', ' + data.buildingName : data.buildingName);
	                }
					
	                if(extraRoadAddr !== ""){
	                    extraRoadAddr = '(' + extraRoadAddr + ')';
	                }
					
	                if(fullRoadAddr !== ""){
	                    fullRoadAddr += extraRoadAddr;
	                }
					
	                $("#postcode").val(data.zonecode);
	                $("#roadAddress").val(fullRoadAddr);
	            }
	        }).open();
	    };
	</script>
</body>
</html>