.viewport{background-color:#ffc9cc;}
.headerWrap {
  position: relative !important;
  top: 0px !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
header{
    position:relative !important; top: 0px !important;
    background-color:rgba(255,255,255,0) !important;
}
footer{margin-top:7rem;}

body {
  font-family: "Poppins", sans-serif;
  color: #040000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}
 
/*header section*/
.sub_page .brand_box {
    position: relative;
    background-image: url(/resources/images/mypage.jpg);
    background-repeat: no-repeat;
    padding: 45px 0;
    background-size: cover;
    background-position: center center;
}

.sub_page .nav_section {
  margin-top: 0;
  background-color: #252525;
}

.brand_box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand_box .navbar-brand span {
  font-size: 34px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 42px;
}

.custom_nav-container .nav_search-btn {
  margin: auto;
}

/*end header section*/
/* slider section */
.slider_section div#carouselExampleControls {
  overflow: hidden;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  width: 90px;
  height: 90px;
  background-color: #252525;
  opacity: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: 12px;
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
  opacity: 0.9;
}

.slider_section .carousel-control-prev {
  border-radius: 0 100% 100% 0;
  background-image: url(../images/prev.png);
  left: -50px;
  background-position: 58px center;
}

.slider_section .carousel-control-next {
  border-radius: 100% 0 0 100%;
  background-image: url(../images/next.png);
  right: -45px;
  background-position: 20px center;
}

/* end slider section */
.nav_section {
  margin-top: -32px;
}

.nav_section .custom_nav2 .custom_nav-container {
  padding: 10px 0;
  background-color: #252525;
  border-radius: 5px;
}

.nav_section .custom_nav2 .custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.nav_section .custom_nav2 #navbarSupportedContent {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

