section{}
section title{font-size: 2.5rem;margin-bottom: 4rem;text-align: center; font-weight: 900;}
section .wrap{display: flex;flex-direction: row-reverse;}
section .wrap .main{width: 85%;}
section .wrap .main > ul{width: 85%;margin: 2rem auto 5rem;display: flex;}
section .wrap .main > ul > li{text-align: center;width: calc(100% - 80%);}
section .wrap .main > ul > li.faqKind{}
section .wrap .main > ul > li.faqKind > a.aKind{height: 3rem;display: inline-block;line-height: 3rem;font-size: 1.2rem;font-weight: 600;}
section .wrap .main .faqSub{width: 85%;margin: 0 auto 2rem;font-size: 1.4rem;font-weight: 500;}
section .wrap .main #faqList{}
section .wrap .main #faqList > tbody > tr{}
section .wrap .main #faqList > tbody > tr > td{text-align: left;padding-left: 2rem;}
section .wrap .main #faqList > tbody > tr > .listTitle{width:90%;}
section .wrap .main #faqList > tbody > tr > .listBtn{width: calc(100% - 90%);padding: 0;text-align: center;}
section .wrap .main #faqList > tbody > tr > td > input{}
section .wrap .main #faqList > tbody > tr > td > a .faqQ{}
section .wrap .main #faqList > tbody > .faqCon{display: none;}
section .wrap .main #faqList > tbody > .faqCon > .fcon{background-color: aquamarine;}
section .wrap .side{width: calc(100% - 85%);}
section .wrap .side > ul{height: 150px;text-align: center;margin-top: 6rem;}
section .wrap .side > ul > li{height: calc(100% - 75px);}
section .wrap .side > ul > li > a{display: block;width: 100%;height: 100%;line-height: 75px;border: 1px solid;font-size: 1.2rem;font-weight: bold;}
section .wrap .side > ul > li.notice{margin-bottom: 1rem;}
section .wrap .side > ul > li.qna{}

.active {
    /*주조색 보조색이용*/
    background-color:#fff !important;
}