/* reset.css */
{box-sizing: border-box;}
html, body {}
html, body, h1, h2, h3, h4, h5, h6, dl, dt, dd,
table, thead, tbody, tfoot, tr, td, th, span, em, p ,strong, del, s, q, blockquote, address, form, input, fieldset, legend, button, select, option, textarea, label, ul, ol, li, a, div, header, nav, aside, section, footer, article, video, img {
    font-size: 1.0em; line-height: 1.0;
    font-style: normal; font-weight: normal;
    margin: 0; padding: 0;
}
ul, ol, li {list-style: none;}
table, tr, td, th {border-collapse: collapse;}
a {text-decoration: none; color: #000;}
fieldset {border: 0;}
button {cursor: pointer; border: 0; background: none;}
.skip {display: none;}

/* icon */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }