<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.alcohol.sul.admin.AdminDAO">
 	<select id="getMemberList" parameterType="MemberDTO" resultType="MemberDTO">
 		SELECT * FROM MEMBER WHERE ID NOT IN(#{id}) ORDER BY NAME
 	</select>
 	
 	<select id="getSmsCheckList" parameterType="MemberDTO" resultType="MemberDTO">
 		SELECT * FROM MEMBER WHERE SMS=1 AND ID NOT IN(#{id})  ORDER BY NAME
 	</select>
 	
 	<select id="getPoint" parameterType="MemberDTO" resultType="MemberDTO">
 		SELECT ID,POINT FROM MEMBER WHERE ID=#{id}
 	</select>
 	
 	<update id="pointAdd" parameterType="MemberDTO">
 		UPDATE MEMBER SET POINT=#{point} WHERE ID=#{id}
 	</update>
 	
 	
 	<select id="getSalesRevenue" resultType="SalesRevenueDTO">
 		SELECT TO_CHAR(o.orderDate, 'YYYY-MM') AS month, SUM(p.price * op.orderCount) AS salesRevenue
			FROM order_ o INNER JOIN orderProduct op
				ON o.orderNum = op.orderNum INNER JOIN product p
				ON op.productNum = p.productNum
		WHERE o.orderDate >= TO_DATE('20230101', 'YYYYMMDD') AND op.isCanceled = 0
		GROUP BY TO_CHAR(o.orderDate, 'YYYY-MM')
		ORDER BY TO_CHAR(o.orderDate, 'YYYY-MM')
 	</select>
 	
 	<select id="dailySales" resultType="SalesRevenueDTO" parameterType="SalesRevenueDTO">
 		SELECT TO_CHAR(o.orderDate, 'YYYY') AS year,TO_CHAR(o.orderDate, 'MM') AS month2,TO_CHAR(o.orderDate, 'DD') AS day, SUM(p.price * op.orderCount) AS salesRevenue
			FROM order_ o INNER JOIN orderProduct op
				ON o.orderNum = op.orderNum INNER JOIN product p
				ON op.productNum = p.productNum
		WHERE o.orderDate >= TO_DATE('20230101', 'YYYYMMDD') AND op.isCanceled = 0 AND TO_CHAR(o.orderDate, 'YYYY')=#{year} AND TO_CHAR(o.orderDate, 'MM')=${month2}
		GROUP BY TO_CHAR(o.orderDate, 'YYYY'),TO_CHAR(o.orderDate, 'MM'),TO_CHAR(o.orderDate, 'DD')
		ORDER BY TO_CHAR(o.orderDate, 'YYYY'),TO_CHAR(o.orderDate, 'MM'),TO_CHAR(o.orderDate, 'DD')
 	</select>
 	
 	
 	
 	<!-- 
	 	<resultMap id="getSalesRevenueResult" type="OrderDTO">
			<id column="orderNum" property="orderNum" />
			<result column="id" property="id" />
			<result column="total" property="total" />
			<result column="orderFee" property="orderFee" />
			<result column="orderComment" property="orderComment" />
			<result column="usedPoint" property="usedPoint" />
			<result column="orderDate" property="orderDate" />
			
			<collection property="orderProducts" javaType="List" ofType="OrderProductDTO">
				<id column="orderProductNum" property="orderProductNum" />
				<result column="orderNum" property="orderNum" />
				<result column="productNum" property="productNum" />
				<result column="orderCount" property="orderCount" />
				<result column="isCanceled" property="isCanceled" />
				
				<association property="productDTO" javaType="ProductDTO">
					<id column="productNum" property="productNum" />
					<result column="productName" property="productName" />
					<result column="price" property="price" />
					<result column="kind" property="kind" />
					<result column="proof" property="proof" />
					<result column="contents" property="contents" />
					<result column="stock" property="stock" />
					<result column="carbonicAcid" property="carbonicAcid" />
					<result column="taste" property="taste" />
					<result column="base" property="base" />
					<result column="score" property="score" />
					<result column="savePoint" property="savePoint" />
					<result column="productHit" property="productHit" />
					<result column="capacity" property="capacity" />
					<result column="expirydate" property="expiryDate" />
					<result column="storagemethod" property="storageMethod" />
				</association>
			</collection>
		</resultMap>
	 -->
  </mapper>