<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.alcohol.sul.admin.AdminDAO">
 	<select id="getMemberList" parameterType="MemberDTO" resultType="MemberDTO">
 		SELECT * FROM MEMBER WHERE ID NOT IN(#{id}) ORDER BY NAME
 	</select>
 	
 	<select id="getPoint" parameterType="MemberDTO" resultType="MemberDTO">
 		SELECT ID,POINT FROM MEMBER WHERE ID=#{id}
 	</select>
 	
 	<update id="pointAdd" parameterType="MemberDTO">
 		UPDATE MEMBER SET POINT=#{point} WHERE ID=#{id}
 	</update>
  </mapper>