<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.alcohol.sul.cart.CartDAO">

<!-- 카트 추가하기 -->

<insert id="addCart">
	INSERT INTO CART 
	VALUES (CARTNUM_SEQ.NEXTVAL,#{id},#{cartPrice},SYSDATE)
</insert>

<select id="getList" resultType="com.alcohol.sul.cart.CartDTO">
	SELECT * 
	FROM CART C JOIN CARTPRODUCT CP 
	ON C.CARTNUM=CP.CARTNUM
	JOIN PRODUCT P 
	ON CP.PRODUCTNUM=P.PRODUCTNUM
	JOIN MEMBER M
	ON C.ID=M.ID
	WHERE C.ID=M.ID
</select>

</mapper>