<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.alcohol.sul.member.MemberDAO">
 	<insert id="setJoin" parameterType="MemberDTO">
 		INSERT INTO MEMBER(ID,ROLENUM,PW,NAME,PHONE,ADDRESS,BIRTH,MEMBERDATE,POINT,SMS) VALUES(#{id},1,#{pw},#{name},#{phone},#{address},
 		#{birth},SYSDATE,0,#{sms})
 	</insert>
 	
 	<select id="getLogin" resultType="com.alcohol.sul.member.MemberDTO" parameterType="com.alcohol.sul.member.MemberDTO">
 		SELECT * FROM MEMBER WHERE ID=#{id} AND PW=#{pw}
 	</select>
 	
 	<select id="getIdCheck" resultType="com.alcohol.sul.member.MemberDTO" parameterType="com.alcohol.sul.member.MemberDTO">
 		SELECT ID FROM MEMBER WHERE ID=#{id}
 	</select>
 	
 	<select id="getPhoneCheck" resultType="MemberDTO" parameterType="MemberDTO">
 		SELECT PHONE FROM MEMBER WHERE PHONE=#{phone}
 	</select>
 	
 	<update id="setInfoUpdate" parameterType="MemberDTO">
 		UPDATE MEMBER SET PHONE=#{phone},ADDRESS=#{address},BIRTH=#{birth} WHERE ID=#{id}
 	</update>
 	
 	<update id="setPwUpdate" parameterType="MemberDTO">
 		UPDATE MEMBER SET PW=#{pw} WHERE ID=#{id}
 	</update>
 	
 	<select id="findId" resultType="MemberDTO" parameterType="MemberDTO">
 		SELECT ID FROM MEMBER WHERE NAME=#{name} AND PHONE=#{phone}
 	</select>
 	
 	<select id="findPw" resultType="MemberDTO" parameterType="MemberDTO">
 		SELECT PW FROM MEMBER WHERE ID=#{id} AND NAME=#{name} AND PHONE=#{phone}
 	</select>
 	
 	<delete id="deleteMember" parameterType="MemberDTO">
 		DELETE FROM MEMBER WHERE ID=#{id}
 	</delete>
 	
 	<select id="getMember" parameterType="String" resultType="MemberDTO">
		SELECT * FROM member WHERE id = #{value}
	</select>
	
  </mapper>