<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.alcohol.sul.board.qna.QnaDAO">
 	
 	<!-- List -->
 	<select id="getList" resultMap="getSelectResult">
 		SELECT * FROM QNA ORDER BY REF DESC, STEP ASC
 	</select>
 	
 	
 	<select id="getDetail" parameterType="QnaDTO" resultMap="getSelectResult">
 		SELECT * FROM QNA WHERE QNANUM = #{num}
 	</select>

 	<resultMap type="QnaDTO" id="getSelectResult">
 		<id column = "QNANUM" property="num"/>
 		<result column="NAME" property="name"/>
 		<result column="SUBJECT" property="subject"/>
 		<result column="CONTENTS" property="contents"/>
 		<result column="CREATEDATE" property="createDate"/>
 		<result column="QNAHIT" property="hit"/>
 		<result column="REF" property="ref"/>
 		<result column="STEP" property="step"/>
 		<result column="DEPTH" property="depth"/>
 	</resultMap>
 	
 	
 	<insert id="setAdd" parameterType="QnaDTO">
 		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
 			SELECT QNA_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO QNA (QNANUM, NAME, SUBJECT, CONTENTS, CREATEDATE, QNAHIT, REF, STEP, DEPTH)
		VALUES (#{num}, #{name}, #{subject}, #{contents}, SYSDATE, 0, #{num}, 0, 0)
 	</insert>
 	
 	
 	<update id="setUpdate" parameterType="QnaDTO">
		 UPDATE QNA
		 SET SUBJECT = #{subject}, CONTENTS = #{contents}
		 WHERE QNANUM = #{num} AND NAME = #{name}
 	</update>
 	
 	
 	<delete id="setDelete" parameterType="QnaDTO">
 		DELETE QNA WHERE QNANUM = #{num}
 	</delete>
 	
 	
 	<!-- File -->
 	<insert id="setFileAdd" parameterType="QnaFileDTO">
 		INSERT INTO QNAFILE (FILENUM, QNANUM, FILENAME, ORIGINALNAME)
 		VALUES (QNAFILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{originalName})
 	</insert>
 	
  </mapper>